.profile {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        position: relative;
        margin: 0 auto;
        max-width: 282px;
        flex-direction: column;
        align-items: center;
    }
}