.popup-image__figure {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 320px) {
    .popup-image__figure {
        width: 240px;
        height: 299px;
    }
}