.profile-info__title {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
    text-overflow: ellipsis;
    max-width: 294px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 425px) {
    .profile-info__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-bottom: 14px;
    }
}