.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 120px;
    object-fit: cover;
    opacity: 1;
}

.profile__avatar:hover {
    opacity: 0.3;
    cursor: url('../../../images/edit.svg'), auto;
}